[submodule "digitalocean"]
	path = digitalocean
	url = https://github.com/xyd-js/deploy-samples-digitalocean.git
[submodule "render"]
	path = render
	url = https://github.com/xyd-js/deploy-samples-render.git
[submodule "cloudflare"]
	path = cloudflare
	url = https://github.com/xyd-js/deploy-samples-cloudflare.git
